*{
    margin:0;
    padding: 0;
    /* border: 0px; */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    /* background-color: rgb(211, 170, 250); */
    background-color: white;
    margin-top: 200px;
}

.tarjetaValida{
    background: linear-gradient(to right, #ad5389, #4c1054);
    background-attachment: fixed;
    background-position: center;
    width: 45%;
    height: 250px;
    margin-left: 400px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    -webkit-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
    box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
}

.numero{
    width: 50%;
    height: 40px;
    text-align:center;
    /* display: flex; */
    margin-top: 80px;
    margin-left: 150px;
}

.validarNum{
    width: 25%;
    height: 40px;
    background: transparent;
    border: 2px solid  rgb(4, 4, 71);
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 220px;
    cursor: pointer;
    color: white;
    -webkit-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
    box-shadow: 14px 14px 29px -6px rgba(0,0,0,0.75);
    outline: none;
}

.validarNum:hover{
    background-color: rgb(4, 4, 71);
    color: white;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal{
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    /* background: rgba(0,0,0, 0.452); */

}

.contenidoModal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: ventana;
    animation-duration: 1s;
  
}

@keyframes ventana{
    from{top:-330px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    color: #f2f2f2;
    font-size: 30px;
    font-weight: bold;
    
}

.close:hover{
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modal-header, .modal-footer{
    padding: 8px 16px;
    background: #34495e;
    color: #f2f2f2;
}

p{
    text-align: justify;
}

.modal-body{
    padding: 20px 16px;
}

.hide{
    display: none;
}

.check{
    width: 45%;
    height: 155px;
}

.signoAd{
    width: 45%;
    height: 155px;
}

.parrafo{
    font-size: 40px;
    position: absolute;
	top: 50%;
	left: 74%;
	height: 30%;
	width: 50%;
    margin: -15% 0 0 -25%;
    color: rgb(7, 7, 37);
}

footer{
    background-color: #1c2630;
    height: 25px;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    

  color: rgb(255, 255, 255);
}

@media screen and (max-width:900px){
    .contenidoModal{
        width: 70%;
    }
    .cardTarje{
        padding: 150px;
    }
}

@media screen and (max-width: 500px){
    .cardTarje{
        padding: 50px;
    }
}